@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 231 11% 63%;
    --primary: 243 100% 62%;
    --primary-foreground: 229 24% 87%;
    --secondary: 213 96% 18%;
    --secondary-foreground: 231 100% 99%;
    --muted: 206 94% 87%;
    --muted-foreground: 217 100% 97%;
    --destructive: 354 84% 57%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --destructive: 0 62.8% 30.6%;
  }
  @font-face {
    font-family: Ubuntu;
    font-weight: 400;
    src: url('/src/assets/fonts/Ubuntu-Regular.ttf');
  }
  @font-face {
    font-family: Ubuntu;
    font-weight: 500;
    src: url('/src/assets/fonts/Ubuntu-Medium.ttf');
  }
  @font-face {
    font-family: Ubuntu;
    font-weight: 700;
    src: url('/src/assets/fonts/Ubuntu-Bold.ttf');
  }
}

@layer components {
  .peer:checked ~ label > .icon-checked {
    @apply bg-primary;
  }
}
